* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px 600px;
}

.dashboard {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr 2.5fr 1fr 1fr 1fr 8fr;
    grid-template-columns: 1fr 2fr;
}

.icon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-top: 1px;
    padding-left: 60px;
}

#function {
    font-size: 1.5rem;
    padding-top: 25px;
    font-weight: 500;
}

#falldown {
    height: 60px;
    padding-left: 50px;
    padding-top: 20px;
}

.words {
    margin: 0;
    grid-column: 2 / 3;
    font-weight: 300;
}

.logo {
    font-size: 1.2rem;
    font-weight: 500;
}

.home {
    grid-row: 2 / 3;
}

.profile {
    grid-row: 3 / 4;
}

.messages {
    grid-row: 4 / 5;
}

.history {
    grid-row: 5 / 6;
}

.tasks {
    grid-row: 6 / 7;
}

.communities {
    grid-row: 7 / 8;
}

.settings {
    grid-row: 8 / 9;
}

.support {
    grid-row: 9 / 10;
}

.privacy {
    grid-row: 10 / 11;
}

img.logo {
    width: 30px;
    height: 30px;
    font-weight: 900;
}

.tdl1 {
    margin-left: 250px;
}

.header {
    background-color: black;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: #9c7eec;
    padding-left: 30px;
}

.tophead {
    display: grid;
    align-items: center;
    grid-template-columns: 40px 8fr 1fr 1fr 1fr;
    padding-right: 80px;
}

.sbar {
    width: 500px;
    height: 24px;
    border-radius: 20px;
    border-style: none;
}

#smallpig {
    height: 45px;
    padding-left: 25px;
}

.alarm {
    padding-left: 75px;
}

.bottomhead {
    display: grid;
    align-items: start;
    grid-template-columns: 70px 4.2fr 1fr 1fr 1fr;
    padding-right: 200px;
}

.welcome1 {
    font-size: 0.8rem;
}

.welcome2 {
    font-size: 1.5rem;
}

.hitext {
    grid-column: 2 / 3;
    padding-left: 10px;
}

.trbtn {
    background-color: #9c7eec;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    border-style: none;
    align-self: center;
    font-weight: 600;
    color: whitesmoke;
}

.torso {
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr;
    grid-template-rows: 0.4fr 1.5fr 1.5fr 1.5fr;
}

.neck {
    display: grid;
    grid-area: 1 / 1 / 2 / 3;
    font-weight: 100;
    align-items: end;
    background-color: #e2e6ff;
    color: rgb(87, 79, 79);
    padding-left: 2.5vw;
    padding-bottom: 1vh;
}

.projects {
    display: grid;
    grid-area: 2 / 1 / 5 / 3;
    background-color: #e2e6ff;
    color: black;;
    padding-bottom: 3vh;
}

.p1, .p2, .p3, .p4, .p5, .p6 {
    border: 2px solid white;
    border-radius: 2%;
    width: 25vw;
    height: 22vh;
    align-self: start;
    justify-self: center;
    padding-left: 2vw;
    padding-top: 2vh;
    line-height: 1.2;
    font-weight: 300;
   
}

.descriptor {
    font-weight: 800;
    font-size: 1.5rem;
}

p {
    padding-right: 5vw;
}

.p2 {
    grid-area: 1 / 2 / 2 / 3;
}

.rightside {
    display: grid;
    grid-row: 1 / 5;
    background-color: #e2e6ff;
    display: grid;
    grid-template-rows: 49px 0.62fr 0.62fr 0.62fr 47px 0.3fr 0.3fr 0.3fr 0.3fr;
}

.necktie {
    display: grid;
    grid-row: 1 / 2;
    font-weight: 100;
    align-items: end;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
}

.announcements {
    display: grid;
    grid-row: 2 / 5;
    border: 2px dotted white;
    border-radius: 2%;
    margin-right: 2vw;
    padding-left: 2vw;
}

.a1 {
    display: grid;
    grid-row: 2 / 3;
    align-self: start;
}

.midlevel {
    font-weight: 600;
    font-size: 1rem;
}

.lorem {
    font-weight: 200;
    font-size: 0.5rem;
}

.a2 {
    display: grid;
    grid-row: 3 / 4;
}

.a3 {
    display: grid;
    grid-row: 4 / 5;
}

.necktrend {
    display: grid;
    grid-row: 5 / 6;
    font-weight: 100;
    align-items: end;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
}

.trending {
    display: grid;
    grid-row: 6 / 10;
    border: 2px dotted white;
    border-radius: 2%;
    margin-right: 2vw;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 5vh;
}

.trend1 {
    display: grid;
    grid-row: 6 / 7;
}

.trend2 {
    display: grid;
    grid-row: 7 / 8;
}

.trend3 {
    display: grid;
    grid-row: 8 / 9;
}

.trend4 {
    display: grid;
    grid-row: 9 / 10;
}

.follower {
    grid-column: 2 / 3;
    padding-top: 0.8vh;
}

#follower1 {
    grid-row: 6 / 7;
}

#follower2 {
    grid-row: 7 / 8;
}

#follower3 {
    grid-row: 8 / 9;
}

#follower4 {
    grid-row: 9 / 10;
}

#followme {
    display: grid;
    align-self: start;
    height: 5vh;
    padding-left: 1vw;
}